@font-face {
  font-family: Figtree;
  src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

:root {
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-500: hsl(0, 0%, 42%);
  --color-gray-950: hsl(0, 0%, 7%);

  --font-family: Figtree, sans-serif;
  --font-size-sm: clamp(0.75rem, 3vw, 0.875rem);
  --font-size-base: clamp(0.875rem, 3.5vw, 1rem);
  --font-size-lg: clamp(1.25rem, 5vw, 1.5rem);
  --font-line-height: 150%;
  --font-weight-medium: 500;
  --font-weight-bold: 800;

  --spacing-200: 1.5rem;
  --spacing-150: 0.75rem;
  --spacing-100: 0.5rem;
  --spacing-50: 0.25rem;

  --border-radius: 1.25rem;
  --shadow-solid: 8px 8px 0px 0px;
}

/* reset */
* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

/* base styles */
body {
  height: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--font-line-height);
  background-color: var(--color-yellow);
  color: var(--color-gray-950)
}

.container {
  display: grid;
  grid-template-rows: 100vh min-content;
  justify-content: center;
  align-items: center;
}

.text-heading {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  a {
    color: currentColor;
  }
  a:hover {
    color: var(--color-yellow);
  }
}

.card {
  width: min(24rem, calc(100vw - 3rem));
  margin-inline: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  padding: var(--spacing-200);
  
  background-color: var(--color-white);
  box-shadow: var(--shadow-solid) black;
  border: 1px solid var(--color-gray-950);
  border-radius: var(--border-radius);

  & > img {
    border-radius: calc(var(--border-radius) / 2);
  }
}

.card-content, .card-content header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
}

.author {
  display: flex;
  gap: var(--spacing-150);
  align-items: center;
  font-size: var(--font-size-sm);
  --image-size: 2em;

  & img {
    border-radius: var(--image-size);
    height: var(--image-size);
    width: var(--image-size);
  }
}

.tag {
  width: min-content;
  padding: var(--spacing-50) var(--spacing-150);
  
  background-color: var(--color-yellow);
  border-radius: var(--spacing-50);

  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
}

/* utility classes */
.text-small {
  font-size: var(--font-size-sm);
}
.text-bold {
  font-weight: var(--font-weight-bold);
}
.text-faded {
  color: var(--color-gray-500);
}

/* attribution styles */
footer.attribution {
  text-align: center;
  padding: 0.5rem;
  a {
    font-weight: var(--font-weight-bold);
    color: currentColor;
  }
  a:hover {
    border-block-end: 2px solid currentColor;
  }
}